
.menu {
  display: flex;
  flex-direction: row;
}

.menuItem {
  position: relative;
}

.menuItemContainer {
  position: absolute;
  background-color: rgb(40, 40, 40);
  box-shadow: -5px 0px 5px -5px rgba(0, 0, 0, 0.3), 5px 0px 5px -5px rgba(0, 0, 0, 0.3);
  border-radius: 0px 0px 2px 2px;
  padding: 10px 0px;
}

.menuSubItem {
  display: flex;
  flex-direction: column;
}